---
title: ""
permalink: /research/
author_profile: true
---
<!-- SEE https://getbootstrap.com/docs/4.4/components/buttons/ FOR INTERESTING WIDGETS! -->

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<h2>Publication</h2> 
<b>Liu, X.</b>, Duncan, A. B., Gandy, A. (2023). 
<text class="pub-title">Using Perturbation to Improve Goodness-of-Fit Tests based on Kernelized Stein Discrepancy</text>. ICML 2023.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://arxiv.org/abs/2304.14762','_blank')">Paper</button>
<br>
<br>

Huang, K. H., <b>Liu, X.</b>, Duncan, A. B., Gandy, A. (2023). 
<text class="pub-title">A High-dimensional Convergence Theorem for U-statistics with Applications to Kernel-based Testing</text>. COLT 2023.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://arxiv.org/abs/2302.05686','_blank')">Paper</button>
<br>
<br>

<b>Liu, X.</b>, Zhu, H., Ton, J-F., Wynne, G., Duncan, A. B. (2022). <text class="pub-title">Grassmann Stein Variational Gradient Descent</text>. AISTATS 2022.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://proceedings.mlr.press/v151/liu22a.html','_blank')">Paper</button> 
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://docs.google.com/presentation/d/e/2PACX-1vTMmAQEaSB--eTTrg0xzZBdgdA3w530kw4ENg5Oh_a7YpCK4Gd28vc8tMPDMjarevyKjnNF4c1vEccG/pub?start=false&loop=false&delayms=3000','_blank')">Slides</button> 
<br>
<br>

Zhu, H., <b>Liu, X.</b>, Kang, R., Shen, Z., Flaxman, S., Briol, F-X. (2020). <text class="pub-title">Bayesian probabilistic numerical integration with tree-based models</text>. Neural Information Processing Systems, 5837-5849.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://proceedings.neurips.cc/paper/2020/hash/3fe94a002317b5f9259f82690aeea4cd-Abstract.html','_blank')">Paper</button> 
<br>
<br>

<h2>Discussion and Workshop Papers</h2>
<b>Liu, X.</b>, Duncan, A. B., Gandy, A. (2022). <text class="pub-title">Using Perturbation to Improve Goodness-of-Fit Tests based on Kernelized Stein Discrepancy</text>. NeurIPS 2022 Workshop on Score-Based Methods.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://openreview.net/forum?id=iubaXtWi0Y3','_blank')">Paper</button> 
<br>
<br>

Zhu, H., <b>Liu, X</b>., Caron, A., Manolopoulou, I. Flaxman, S., Briol, F-X. (2020). <text class="pub-title">Contributed Discussion of “Bayesian Regression Tree Models for Causal Inference: Regularization, Confounding, and Heterogeneous Effects”</text>. Bayesian Analysis, 15(3), 965-1056.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://projecteuclid.org/euclid.ba/1580461461#abstract','_blank')">Journal (pp1032-1034)</button> 
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://fxbriol.github.io/pdfs/BART_contributed_discussion.pdf','_blank')">Paper</button>
<br>
<br>

<h2>Talks</h2>
14th Dec 2022, <i>Kernelized Stein Discrepancies and their applications in statistics and machine learning</i>, <b>Junior Stats Seminar</b> at Imperial College London.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://XingLLiu.github.io/files/ksd_ic_seminar.pdf','_blank')">Slides</button>
<br>
<br>

31st May 2022, <i>Stein's Method in Statistics</i>. <b>Foundations and Landmark Reading Group</b> at University of London (online)
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://XingLLiu.github.io/files/steins_method_ucl.pdf','_blank')">Slides</button>
<br>
<br>

19th Aug 2021, <i>Bayesian probabilistic numerical integration with tree-based models</i>. <b>13th International Conference on Monte Carlo Methods and Applications (MCM)</b>, Universität Mannheim, Germany (online)
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://XingLLiu.github.io/files/BO_BART_mcm.pdf','_blank')">Slides</button>
<br>
<br>

31st Mar 2021, <i>Stein Variational Gradient Descent</i>. <b>CSML Reading Group</b> at Imperial College London (online)
<br>
<br>

<h2>Research Projects</h2>

<text class="pub-title">Approximate Bayesian Computation with Optimal Transport</text>. Part III Essay; supervised by Dr. Sergio Bacallado. 2020. 
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://XingLLiu.github.io/files/Part_III_Essay_ABC_with_Optimal_Transport.pdf','_blank')">Paper</button>
<br>
<br>

<text class="pub-title">Predicting Sepsis at Triage</text>. Fields Undergraduate Summer Research Program; supervised by Dr. Anna Goldenberg and Erik Drysdale. 2019
<br>
<br>
