---
layout: archive
title: ""
permalink: /research/
author_profile: true
---
<!-- SEE https://getbootstrap.com/docs/4.4/components/buttons/ FOR INTERESTING WIDGETS! -->

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<h1>Publication</h1> 
<ul>
  <li><b>Liu, X.</b>, Zhu, H., Ton, J-F., Wynne, G., Duncan, A. (2022). <i>Grassmann Stein Variational Gradient Descent</i>. AISTATS 2022. <button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://proceedings.mlr.press/v151/liu22a.html','_blank')">Paper</button> <a type="button" class="btn btn-primary" href="https://docs.google.com/presentation/d/e/2PACX-1vTMmAQEaSB--eTTrg0xzZBdgdA3w530kw4ENg5Oh_a7YpCK4Gd28vc8tMPDMjarevyKjnNF4c1vEccG/pub?start=false&loop=false&delayms=3000">Slides</a> </li>
  <li>Zhu, H., <b>Liu, X.</b>, Kang, R., Shen, Z., Flaxman, S., Briol, F-X. (2020). <i>Bayesian probabilistic numerical integration with tree-based models</i>. Neural Information Processing Systems, 5837-5849. <a type="button" class="btn btn-primary btn-sm" href="https://proceedings.neurips.cc/paper/2020/hash/3fe94a002317b5f9259f82690aeea4cd-Abstract.html">Paper</a> </li> 
  <button type="button" class="btn btn-primary btn-sm" href="https://proceedings.neurips.cc/paper/2020/hash/3fe94a002317b5f9259f82690aeea4cd-Abstract.html">Small button</button>
</ul>

<h1>Discussion</h1>
<ul>
  <li>Zhu, H., <b>Liu, X</b>., Caron, A., Manolopoulou, I. Flaxman, S., Briol, F-X. (2020). <i>Contributed Discussion of “Bayesian Regression Tree Models for Causal Inference: Regularization, Confounding, and Heterogeneous Effects”</i>. Bayesian Analysis, 15(3), 965-1056. <button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://projecteuclid.org/euclid.ba/1580461461#abstract','_blank')">Journal (pp1032-1034)</button> <button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://fxbriol.github.io/pdfs/BART_contributed_discussion.pdf','_blank')">Paper</button> </li>
</ul>

<h1>Talks</h1>
<ul>
  <li>31st May 2022, <i>Stein's Method in Statistics</i>. <b>Foundations and Landmark Reading Group</b> at University of London (online) <button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://XingLLiu.github.io/files/steins_method_ucl.pdf','_blank')">Slides</button> </li>
  <li>19th Aug 2021, <i>Bayesian probabilistic numerical integration with tree-based models</i>. <b>13th International Conference on Monte Carlo Methods and Applications (MCM)</b>, Universität Mannheim, Germany (online) <button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://XingLLiu.github.io/files/BO_BART_mcm.pdf','_blank')">Slides</button> </li>
  <li>31st Mar 2021, <i>Stein Variational Gradient Descent</i>. <b>CSML Reading Group</b> at Imperial College London (online) </li>
</ul>

<h1>Research Projects</h1>
<ul>
  <li><i>Approximate Bayesian Computation with Optimal Transport</i>. Part III Essay; supervised by Dr. Sergio Bacallado. 2020. <button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://XingLLiu.github.io/files/Part_III_Essay_ABC_with_Optimal_Transport.pdf','_blank')">Paper</button> </li>
  <li><i>Predicting Sepsis at Triage</i>. Fields Undergraduate Summer Research Program; supervised by Dr. Anna Goldenberg and Erik Drysdale. 2019 </li>
</ul>
